<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netforceinfotech.inti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".expensereport.MyExpenseReportActivity" />
        <activity android:name=".expensesummary.ExpenseSummaryActivity" />
        <activity android:name=".addexpenses.ChooseAddExpensesActivity" />
        <activity android:name=".expenselist.ExpenseListActivity" />
        <activity android:name=".addexpenses.TextImageExpenseActivity" />
        <activity android:name=".addexpenses.CreateExpenseActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".supervisor_expensereport.SupervisorExpenseReportActivity"></activity>
    </application>

</manifest>